Repository camel-ai/camel, pull requests merged in 2023-12, with the labels that each got.

#399 Fix typo in `value_for_tiktoken`
  camel/types/enums.py
Labels: bug

#404 chores: create publish release github workflow and set version to v0.1.1
  .github/workflows/build_package.yml
  .github/workflows/documentation.yml
  .github/workflows/pre_commit.yml
  .github/workflows/publish_release.yml
  .github/workflows/pytest_package.yml
  camel/__init__.py
  pyproject.toml
Labels: workflow, Release

#406 chores: grant write permission to publish release workflow
  .github/workflows/publish_release.yml
  README.md
Labels: Release

#417 Fix default action space bug in `CodePrompt`
  camel/prompts/base.py
  camel/utils/python_interpreter.py
  docs/get_started/code_prompt.md
  test/prompts/test_prompt_base.py
  test/utils/test_python_interpreter.py
Labels: Prompt

#412 chores: polish unstructured io
  camel/functions/unstructured_io_fuctions.py
  poetry.lock
  pyproject.toml
Labels: bug
