Repository camel-ai/camel, pull requests merged in 2023-03, with the labels that each got.

#19 Modify demo
  examples/role_playing.py
Labels: Example

#21 Add colorama dependency
  setup.py
Labels: Example

#23 Update license
  LICENSE
  README.md
Labels: Readme, Lisence

#24 Fix readme
  README.md
Labels: Readme

#26 Improve task specifier
  camel/agent.py
  examples/role_playing_multiprocess.py
  prompts/assistant_prompt.txt
  prompts/assistant_prompt_with_task.txt
  prompts/task_specify_prompt.txt
  prompts/user_prompt.txt
  prompts/user_prompt_with_task.txt
  test/test_chat_agent.py
Labels: Agent, Task

#27 Fix data generation
  examples/role_playing_multiprocess.py
Labels: Data, Example

#39 Update README.md
  README.md
Labels: documentation, Readme

#40 Fix readme example
  README.md
Labels: Readme
