Repository camel-ai/camel, pull requests merged in 2023-06, with the labels that each got.

#137 Contribution guidelines
  CONTRIBUTING.md
Labels: documentation, workflow, Readme

#140 Add contributing guidelines
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: documentation

#145 Update `publish_dir` of `documentation.yaml`
  .github/workflows/documentation.yaml
Labels: workflow

#142 Add discord link
  README.md
Labels: Readme

#139 Refactor `BaseMessage` add `CodePrompt`
  camel/messages.py
  camel/messages/__init__.py
  camel/messages/base.py
  camel/messages/chat_messages.py
  camel/messages/system_messages.py
  camel/prompts/__init__.py
  camel/prompts/base.py
  test/messages/test_chat_message.py
  test/messages/test_message_base.py
  test/messages/test_system_message.py
  test/prompts/test_prompt_base.py
Labels: Message, Prompt, Refactor

#149 Add tutorial for `CodePrompt`
  docs/README.md
  docs/camel.messages.rst
  docs/get_started/code_prompt.md
  docs/get_started/text_prompt.md
  docs/index.rst
  test/prompts/test_prompt_base.py
Labels: documentation, Prompt

#141 Make markdown tutorials for `BaseMessage`
  docs/get_started/messages.md
  docs/index.rst
Labels: documentation

#155 Refactor `EmbodiedAgent` and modify tests
  camel/agents/embodied_agent.py
  test/agents/test_embodied_agent.py
  test/messages/test_message_base.py
Labels: Agent, Refactor

#158 Autodownload tasks
  camel/utils.py
  examples/ai_society/role_playing_multiprocess.py
  examples/code/role_playing_multiprocess.py
Labels: bug, Data

#154 Extracted ChatAgentResponse class
  CONTRIBUTING.md
  apps/agents/agents.py
  camel/agents/chat_agent.py
  camel/agents/critic_agent.py
  camel/agents/embodied_agent.py
  camel/agents/role_playing.py
  camel/agents/task_agent.py
  camel/messages/chat_messages.py
  examples/ai_society/generate_meta_data.py
  examples/ai_society/role_playing.py
  examples/ai_society/role_playing_multiprocess.py
  examples/ai_society/role_playing_with_critic.py
  examples/ai_society/role_playing_with_human.py
  examples/ai_society/task_generation.py
  examples/code/generate_meta_data.py
  examples/code/role_playing_multiprocess.py
  examples/code/task_generation.py
  examples/embodiment/hugging_face_tool.py
  examples/evaluation/single_agent.py
  examples/misalignment/role_playing_multiprocess.py
  examples/misalignment/role_playing_with_human.py
  examples/misalignment/single_agent.py
  examples/misalignment/task_generation.py
  examples/single_agent.py
  examples/summarization/gpt_solution_extraction.py
  examples/summarization/gpt_solver.py
  examples/test/test_single_agent.py
  examples/translation/translator.py
  pyproject.toml
  test/agents/test_chat_agent.py
  test/agents/test_role_playing.py
Labels: Message

#162 Fix roleplay API changes in examples and apps
  apps/agents/agents.py
  examples/ai_society/role_playing.py
  examples/ai_society/role_playing_multiprocess.py
  examples/ai_society/role_playing_with_critic.py
  examples/ai_society/role_playing_with_human.py
  examples/code/role_playing_multiprocess.py
  examples/misalignment/role_playing_multiprocess.py
  examples/misalignment/role_playing_with_human.py
Labels: Example

#164 [Examples] Improve the summarization solution extraction example
  examples/summarization/gpt_solution_extraction.py
Labels: Example

#166 Fixed `model_type` typos in `RolePlaying`
  camel/agents/role_playing.py
  test/agents/test_role_playing.py
Labels: bug, Refactor

#169 Fixed `model_type` typos in `role_playing.py` examples
  examples/ai_society/role_playing.py
Labels: bug, Example

#168 Remove `__getattribute__` from `BaseMessage`
  camel/messages/base.py
  test/messages/test_message_base.py
Labels: Message, Refactor

#170 Moved all set_user_role_at_backend into Agent step
  camel/agents/chat_agent.py
  camel/agents/critic_agent.py
  camel/agents/role_playing.py
  camel/messages/chat_messages.py
  examples/code/role_playing_multiprocess.py
Labels: enhancement, Agent

#181 Feature/multi lingual role play
  camel/agents/chat_agent.py
  camel/agents/task_agent.py
  camel/messages/base.py
  camel/societies/role_playing.py
  examples/ai_society/role_playing_multi_lingual.py
  test/agents/test_chat_agent.py
Labels: enhancement, Agent

#177 Removed all derived classes of BaseMessage and its role field
  apps/agents/agents.py
  camel/agents/chat_agent.py
  camel/agents/critic_agent.py
  camel/agents/embodied_agent.py
  camel/agents/task_agent.py
  camel/generators.py
  camel/human.py
  camel/messages/__init__.py
  camel/messages/base.py
  camel/messages/chat_messages.py
  camel/messages/system_messages.py
  camel/societies/role_playing.py
  examples/ai_society/generate_meta_data.py
  examples/ai_society/task_generation.py
  examples/code/generate_meta_data.py
  examples/code/role_playing_multiprocess.py
  examples/code/task_generation.py
  examples/embodiment/hugging_face_tool.py
  examples/evaluation/single_agent.py
  examples/misalignment/single_agent.py
  examples/misalignment/task_generation.py
  examples/single_agent.py
  examples/summarization/gpt_solution_extraction.py
  examples/summarization/gpt_solver.py
  examples/translation/translator.py
  test/agents/test_chat_agent.py
  test/agents/test_critic_agent.py
  test/agents/test_embodied_agent.py
  test/agents/test_role_playing.py
  test/messages/test_chat_message.py
  test/messages/test_message_base.py
  test/messages/test_system_message.py
  test/test_human.py
Labels: Agent, Refactor, API

#184 Enable OpenAI model streaming and fix `num_tokens_from_messages`
  camel/agents/chat_agent.py
  camel/models/base_model.py
  camel/models/openai_model.py
  camel/utils.py
  examples/translation/translator.py
  test/agents/test_chat_agent.py
  test/messages/test_message_base.py
Labels: bug, enhancement, Agent, Example
