Repository camel-ai/camel, pull requests merged in 2023-05, with the labels that each got.

#107 Add `extend_sys_msg_meta_dicts` and `extend_task_specify_meta_dict`
  camel/agents/role_playing.py
  camel/agents/task_agent.py
  test/agents/test_role_playing.py
Labels: Agent, Test

#108 Remove maybe unnecessary restrictions
  camel/prompts/ai_society.py
  camel/prompts/code.py
Labels: Prompt

#109 Fixed Typing Issues
  camel/agents/chat_agent.py
  camel/agents/role_playing.py
  camel/agents/task_agent.py
  camel/generators.py
  camel/messages.py
  camel/utils.py
  examples/ai_society/role_playing_multiprocess.py
  examples/ai_society/task_generation.py
Labels: format

#115 Add solution extraction
  camel/prompts/__init__.py
  camel/prompts/solution_extraction.py
  camel/prompts/task_prompt_template.py
  camel/typing.py
  examples/ai_society/role_playing_multiprocess.py
  examples/summarization/gpt_solution_extraction.py
  examples/summarization/gpt_solver.py
Labels: enhancement, Agent, Data, Prompt, Task, Example, Evaluation

#121 Update repo link
  README.md
Labels: Readme

#122 feat: add issue, pull request, question templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/discussions.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/questions.yml
Labels: enhancement
