Repository camel-ai/camel, pull requests merged in 2023-07, with the labels that each got.

#193 Fix `mypy` error in `utils` and `prompts`
  camel/prompts/ai_society.py
  camel/prompts/base.py
  camel/utils.py
  pyproject.toml
Labels: Utils, Prompt

#192 Fix `mypy` errors in step functions of `EmbodiedAgent`, `CriticAgent` and `Human`
  camel/agents/__init__.py
  camel/agents/base.py
  camel/agents/chat_agent.py
  camel/agents/critic_agent.py
  camel/agents/embodied_agent.py
  camel/agents/task_agent.py
  camel/human.py
  camel/societies/role_playing.py
  examples/embodiment/hugging_face_tool.py
  pyproject.toml
  test/agents/test_critic_agent.py
  test/agents/test_embodied_agent.py
  test/test_human.py
Labels: Agent, Example, Human

#182 feat: python interpreter
  camel/agents/embodied_agent.py
  camel/prompts/base.py
  camel/utils/__init__.py
  camel/utils/functions.py
  camel/utils/python_interpreter.py
  test/prompts/test_prompt_base.py
  test/utils/test_python_interpreter.py
Labels: Prompt

#189 refactor: rework `RolePlaying` and update some docstrings
  camel/models/stub_model.py
  camel/prompts/base.py
  camel/societies/role_playing.py
  test/agents/test_role_playing.py
Labels: documentation, Refactor, Test

#212 Fix flaky `test_chat_agent_batch_stream_same_output`
  test/agents/test_chat_agent.py
Labels: bug, Test

#211 `Code` `RolePlaying` example
  examples/code/role_playing.py
  examples/test/test_code_example.py
Labels: Example

#209 Add Code society to Agents
  apps/agents/agents.py
  apps/agents/test/test_agents.py
Labels: Task, UI

#224 Fix huggingface test error
  camel/agents/embodied_agent.py
  camel/agents/tool_agents/hugging_face_tool_agent.py
  pyproject.toml
  test/agents/test_embodied_agent.py
  test/agents/tool_agents/test_hugging_face_tool_agent.py
Labels: Agent

#229 Remove `model_type` from the `RolePlaying`
  camel/societies/role_playing.py
  examples/ai_society/role_playing.py
  examples/ai_society/role_playing_multi_lingual.py
  examples/code/role_playing.py
  test/agents/test_role_playing.py
Labels: enhancement, Test, Example

#230 Enable slow tests in examples, fix an uncaught bug
  .github/workflows/pytest_apps.yml
  examples/code/role_playing.py
Labels: workflow

#234 Mocks for sleep in tests
  .github/workflows/pytest_apps.yml
  examples/test/test_ai_society_example.py
  examples/test/test_code_example.py
  examples/test/test_single_agent.py
Labels: Test
