Repository camel-ai/camel, pull requests merged in 2023-04, with the labels that each got.

#41 Add dan prompt and singe agent
  examples/misalignment/single_agent.py
  prompts/misalignment/dan.txt
  prompts/misalignment/generate_tasks.txt
Labels: Agent, Prompt

#42 Add role prompts for misalignment
  prompts/misalignment/assistant_prompt_with_task.txt
  prompts/misalignment/user_prompt_with_task.txt
Labels: Prompt

#44 Add dataset license
  DATA_LICENSE
Labels: Lisence

#45 Add license to readme
  README.md
Labels: Lisence

#43 Dataset release
  README.md
Labels: Readme

#46 Updated framework image
  README.md
  misc/framework.png
  misc/pipeline.png
Labels: Readme

#47 Read img size
  README.md
Labels: Readme

#51 Update README.md to include Hugging Face Logo and Link
  README.md
Labels: Readme

#52 Changed dataset links to hugging face
  README.md
Labels: Data, Readme

#49 Remove hacky `CodeSystemMessageGenerator` and `CodeChatAgent` for the code dataset
  camel/__init__.py
  camel/agent/__init__.py
  camel/agent/chat_agent.py
  camel/agent/role_playing.py
  camel/agent/task_agent.py
  camel/generator.py
  camel/message.py
  camel/typing.py
  examples/ai_society/role_generation.py
  examples/ai_society/task_generation.py
  examples/code/generate_meta_data.py
  examples/code/role_playing_multiprocess.py
  examples/code/task_generation.py
  examples/misalignment/single_agent.py
  examples/single_agent.py
  prompts/ai_society/assistant_prompt.txt
  prompts/ai_society/assistant_prompt_with_task.txt
  prompts/ai_society/user_prompt.txt
  prompts/ai_society/user_prompt_with_task.txt
  prompts/code/assistant_prompt.txt
  prompts/code/user_prompt.txt
  prompts/misalignment/assistant_prompt.txt
  prompts/misalignment/user_prompt.txt
  test/agent/test_chat_agent.py
  test/test_generator.py
Labels: Agent, Message, Data, Role, Task, Refactor, Test, Example

#60 Add pyproject
  pyproject.toml
Labels: workflow

#58 added gpt-4 and gpt-4-32k support
  .github/workflows/linting.yaml
  camel/agent/chat_agent.py
  camel/agent/role_playing.py
  camel/agent/task_agent.py
  camel/typing.py
  camel/utils.py
  examples/ai_society/role_generation.py
  examples/ai_society/task_generation.py
  examples/code/generate_meta_data.py
  examples/code/role_playing_multiprocess.py
  examples/code/task_generation.py
  examples/misalignment/single_agent.py
  examples/single_agent.py
  test/agent/test_chat_agent.py
  test/agent/test_task_agent.py
Labels: Agent

#62 Update README.md
  README.md
Labels: Data, Readme

#64 Language Translation Code
  camel/generator.py
  camel/typing.py
  examples/translation/translator.py
  prompts/translation/assistant_prompt.txt
Labels: Data, Prompt, Task, Example

#68 Fix a typo in ModelType
  camel/__init__.py
  camel/agent/chat_agent.py
  camel/agent/role_playing.py
  camel/agent/task_agent.py
  camel/typing.py
  camel/utils.py
  examples/misalignment/task_generation.py
  examples/translation/translator.py
  test/agent/test_chat_agent.py
Labels: bug

#70 Refactor prompts and rename main modules
  apps/agents/agents.py
  camel/__init__.py
  camel/agents/__init__.py
  camel/agents/chat_agent.py
  camel/agents/role_playing.py
  camel/agents/task_agent.py
  camel/generators.py
  camel/messages.py
  camel/prompts/__init__.py
  camel/prompts/ai_society/assistant_prompt.txt
  camel/prompts/ai_society/generate_assistant.txt
  camel/prompts/ai_society/generate_tasks.txt
  camel/prompts/ai_society/generate_user.txt
  camel/prompts/ai_society/task_specify_prompt.txt
  camel/prompts/ai_society/user_prompt.txt
  camel/prompts/code/assistant_prompt.txt
  camel/prompts/code/generate_domains.txt
  camel/prompts/code/generate_languages.txt
  camel/prompts/code/generate_tasks.txt
  camel/prompts/code/task_specify_prompt.txt
  camel/prompts/code/user_prompt.txt
  camel/prompts/misalignment/assistant_prompt.txt
  camel/prompts/misalignment/dan.txt
  camel/prompts/misalignment/generate_tasks.txt
  camel/prompts/misalignment/task_specify_prompt.txt
  camel/prompts/misalignment/user_prompt.txt
  camel/prompts/prompt_templates.py
  camel/prompts/translation/assistant_prompt.txt
  camel/typing.py
  camel/utils.py
  examples/ai_society/generate_meta_data.py
  examples/ai_society/role_playing.py
  examples/ai_society/role_playing_multiprocess.py
  examples/ai_society/task_generation.py
  examples/code/generate_meta_data.py
  examples/code/role_playing_multiprocess.py
  examples/code/task_generation.py
  examples/misalignment/role_playing_multiprocess.py
  examples/misalignment/single_agent.py
  examples/misalignment/task_generation.py
  examples/single_agent.py
  examples/translation/translator.py
  prompts/ai_society/assistant_prompt_with_task.txt
  prompts/ai_society/generate_tasks.txt
  prompts/misalignment/generate_tasks.txt
  test/agents/test_chat_agent.py
  test/agents/test_task_agent.py
  test/prompts/test_prompt_templates.py
  test/test_generators.py
Labels: Agent, Prompt, Task, Refactor, Example

#71 Update README.md
  README.md
Labels: Readme

#72 Update README.md
  README.md
Labels: Readme

#74 Add Misalignment Atlas Visualizations
  README.md
Labels: Readme

#81 Replaced asserts with exceptions in the package
  camel/agents/task_agent.py
  camel/messages.py
Labels: bug

#87 Added Chemistry and Biology Dataset HF links
  README.md
Labels: Readme

#90 Fix update messages and add docstrings and tests
  camel/agents/chat_agent.py
  camel/agents/role_playing.py
  camel/human.py
  camel/messages.py
  examples/ai_society/role_playing_with_human.py
  examples/code/role_playing_multiprocess.py
  test/test_messages.py
Labels: bug, documentation, Agent, Test

#97 Remove prompt `.txt` files from the package and use `.py` files
  .vscode/settings.json
  camel/agents/__init__.py
  camel/agents/role_playing.py
  camel/agents/task_agent.py
  camel/generators.py
  camel/prompts/__init__.py
  camel/prompts/ai_society.py
  camel/prompts/ai_society/assistant_prompt.txt
  camel/prompts/ai_society/generate_assistant.txt
  camel/prompts/ai_society/generate_tasks.txt
  camel/prompts/ai_society/generate_user.txt
  camel/prompts/ai_society/task_specify_prompt.txt
  camel/prompts/ai_society/user_prompt.txt
  camel/prompts/base.py
  camel/prompts/code.py
  camel/prompts/code/assistant_prompt.txt
  camel/prompts/code/generate_domains.txt
  camel/prompts/code/generate_languages.txt
  camel/prompts/code/generate_tasks.txt
  camel/prompts/code/task_specify_prompt.txt
  camel/prompts/code/user_prompt.txt
  camel/prompts/misalignment.py
  camel/prompts/misalignment/assistant_prompt.txt
  camel/prompts/misalignment/dan.txt
  camel/prompts/misalignment/generate_tasks.txt
  camel/prompts/misalignment/task_specify_prompt.txt
  camel/prompts/misalignment/user_prompt.txt
  camel/prompts/prompt_templates.py
  camel/prompts/task_prompt_template.py
  camel/prompts/translation.py
  camel/prompts/translation/assistant_prompt.txt
  camel/utils.py
  examples/ai_society/generate_meta_data.py
  examples/code/generate_meta_data.py
  examples/code/role_playing_multiprocess.py
  examples/misalignment/single_agent.py
  examples/misalignment/task_generation.py
  examples/single_agent.py
  examples/translation/translator.py
  pyproject.toml
  requirements.txt
  setup.py
  test/agents/test_chat_agent.py
  test/agents/test_task_agent.py
  test/prompts/test_ai_society.py
  test/prompts/test_base.py
  test/prompts/test_code.py
  test/prompts/test_misalignment.py
  test/prompts/test_prompt_templates.py
  test/prompts/test_task_prompt_template.py
  test/prompts/test_translation.py
  test/test_generators.py
Labels: Agent, Utils, Prompt, Refactor, Example

#99 Update README.md
  README.md
Labels: documentation
